@using CAFFEINE.Data;
@model List<UserData>
@{
    ViewData["Title"] = "User Data";
}
<h1>@ViewData["Title"]</h1>
@Html.RenderUnobtrusiveAjaxScript()
@if (User.Identity.IsAuthenticated)
{
    @using (Html.AjaxBeginForm("SaveUsers", "Home", new AjaxOptions
                {
                    HttpMethod = "Post"
                }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Phone number</th>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>

                            <td> @Html.HiddenFor(model => model[i].UserName)</td>
                            <td> @Html.DisplayTextFor(model => model[i].UserName)</td>
                            <td> @Html.TextBoxFor(model =>  model[i].PhoneNumber) </td>
                            <td> @Html.CheckBoxFor(model =>  model[i].isAdmin)    </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary button button4">Save</button>
        </div>
    }
}
