@model DetailsVM;
@{
    Layout = null;
}
@using System.Web;
@using CAFFEINE.ViewModels

<div class="modal fade" tabindex="-1" id="detailsModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="px-3">Details</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body mx-4">
                <form>
                    <h5 class="card-title ">Creator:   @Model.CaffCreator</h5>
                    <h5 class="card-title ">Caption:  @Model.Caption</h5>
                    <h5 class="mt-3">Tags:</h5>
                    <div class="d-flex flex-wrap border-top w-100">
                        @foreach (var tag in Model.Tags)
                        {
                            <div class="card-text w-100 border-bottom py-1">@tag.Text</div>
                        }
                      </div>
                    <h5 class="mt-4">Comments:</h5>
                    <div class="d-flex flex-wrap">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="row w-100 border-bottom pt-1">
                                <div class="col-3">@comment.DT_Created</div> 
                                <div class="col-3">@comment.Creator:</div> 
                                <div class="col-6"> @comment.Text</div>
                            </div>
                            <br/>
                        }
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary button button4">Cancel</button>
            </div>
        </div>
    </div>
</div>